.showcase-container{
  height : 40vh;
  background-color: var(--secondary-bg-color);
  font-family: 'Rajdhani', sans-serif;
}

/* Styles for showcase facts box */
.facts-box{
  display: flex;
  gap: 8rem;
  max-width: 80rem;;
  font-size: 2rem;;
  align-items: stretch;
  justify-content: center;
  margin: 2rem auto;
}

.tx-xl{
  font-weight: bold;
}

hr{
  width: 30rem;
  margin: 0 auto;
}

