
/* Imports */
@import url("https://breez-u-i.netlify.app/style.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@400;600;700&family=Rajdhani:wght@300;400;500&display=swap');

/* CSS Variables */
:root{
  --yellow-d0:#f5b820;
  --yellow-d1: #c4931a;
  --black-light : #1a1a18;
  --white-w0 : #fff;
  --secondary-bg-color : #8f8f8f;
  --black-b0: #000;
  
}

/* General styling */
body{
font-family: 'Josefin Sans', sans-serif;
background-color: var(--black-light);
min-height: 100vh;
font-size: 1.6rem;;

}

a { 
  text-decoration: none;
}

li {
  list-style: none;
}

/* Utility class for text */

.text-color{
  color : var(--yellow-d0);
}

.text-color-secondary{
  color: var(--white-w0);
}



